body {
    background-image: url("yarn.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    display: flex; /* Enable flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Use rgba color with 0.7 opacity */
    max-width: 80%;
    border-radius: 10px;
    position: absolute; /* Position the container */
    top: 50%; /* Align the top edge of the container to the vertical center */
    left: 50%; /* Align the left edge of the container to the horizontal center */
    transform: translate(-50%, -50%); /* Center the container precisely */
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
